:root {
    --primary-color: rgb(92, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    font-family: 'VT323', monospace;
}

.main-container {
    width: 700px;
    height: 600px;
    background-color: none;
    border: 5px solid black;
    /* margin: auto; */
    transition: 1s;
    margin-top: 70px;
    color: var(--primary-color);
    z-index: 1;
    background-image: url(https://i.postimg.cc/hGV7SKNZ/starfall-gif-72.webp);
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--primary-color);
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; */
}

/* navbar flex ------------------------ */

.score-bg{
    width: 150px;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    cursor: pointer;
}

/* health bar --------------- */

.health-bar{
    margin-right: 70px;
}

/* buttons --------------------*/

.restart-button{
    font-size: xx-large;
    cursor: pointer;
    border-radius: 50%;
}

.restart-button:hover{
    text-shadow: 0px 0px 30px var(--primary-color);
    transition: 0.1s;
    animation-name: arrowrotate;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes arrowrotate{
    100%{
        transform: rotateZ(-100deg);
        transition: 0s;
    }
}

.settings-button {
    font-size: xx-large;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 50%;
}

.settings-button:hover{
    text-shadow: 0px 0px 30px var(--primary-color);
    transition: 0.5s;
    color: var(--primary-color);
    animation-name: buttonspin;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

@keyframes buttonspin{
    100%{
        transform: rotateZ(1553deg);
    }
}

.res-set-butts i{
    padding: 5px;
}

/* rocket styles ------------------- */


#rocket{
    transform: rotateZ(-47deg);
    position: absolute;
    top: 82%;
    left: 46%;
}

/* start game container && button ----------------------- */

#start-game-container{
    width: 100%;
    height: 90%;
    /* background-color: rgba(0, 0, 0, 0.849);
    /* box-shadow: 0px 0px 10px var(--primary-color);
    border: 2px dotted var(--primary-color);
    border-radius: 10px; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: 1s;
}

#start{
    font-size: xx-large;
    width: 200px;
    cursor: pointer;
    height: 100px;
    border-radius: 8px;
    font-family: 'VT323', monospace;
    background-color: rgba(0, 255, 255, 0.496);
    transition: 0.8s;
    border: none;
    margin-bottom: 70px;
    transition: 1s;
}

#start:hover{
    background-color: var(--primary-color);
    transition: 0.5s;
    box-shadow: 0px 0px 30px var(--primary-color);
    animation-name: buttonone;
    animation-duration: 0.8s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: "";
}


@keyframes buttonone{
    0% {
        color: var(--primary-color);
    }

    50%{
        color: rgb(255, 168, 38);
    }

    100%{
        color: var(--primary-color);
    }
}